

.card_login {
  width: 30%;
  margin: auto;
  box-shadow: 0 0 4px gray;
  
}

.login_body {
  height: 400px;
  /* background-color: aqua; */ 
}

.login_body form{
  margin-top: 5rem;
}

.login_body input{
  border-radius: 0;
  border: 1px solid gray;
}

.btn_login{
  width: 50%;
  padding: 8px;
  background-color: aquamarine;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  
}



.error_section {
  color: red;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
