.sidenav-container{
    width: 12rem;
    position: absolute;
    /* border-right: 1px solid gray; */
  background: #d5f3ed;
    cursor: pointer;
    
}

.links-section{
    
    margin-left: 12rem;
    /* background: #e1f0ed ; */
    /* border: 1px solid black; */

}

