*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  background: rgb(253, 253, 253);
  
}

.section__padding{
  padding: 4rem 6rem;
}

.section__margin{
  margin: 4rem 6rem;
}
@media screen and (max-width: 700){
  .section__padding{
    padding: 4rem 6rem;
  }
  
  .section__margin{
    margin: 4rem;
  }
}

@media screen and (max-width: 550){
  .section__padding{
    padding: 4rem 2rem;
  }
  
  .section__margin{
    margin: 4rem 2rem;
  }
}